@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('./assets/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AppleSDGothicNeoM', sans-serif;
}

.App {
  margin: 0 32px 0 32px;
}
